@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 7.5px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #ff275998;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ff275994;
}

::-webkit-scrollbar-thumb:active {
  background: #ff27599a;
}

::-webkit-scrollbar-corner {
  background: rgba(255, 255, 255, 0.25);
}

.mySwiper .swiper-pagination-bullet {
  width: 7.5px;
  height: 7.5px;
  background-color: rgba(255, 255, 255, 0.25);
  opacity: 1;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.mySwiper .swiper-pagination-bullet-active {
  background-color: #ff2759;
  transform: scale(0.25);
}