@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 7.5px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.125);
}

::-webkit-scrollbar-thumb {
  background: #434445;
  border-radius: 1.25px;
}

.swiper-wrapper {
  transition-timing-function: linear !important;
}